.dark{
            background-color: rgb(22, 21, 21);
            color: white;
        }

#datosPrestamo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}
#datosPrestamo button{
    margin: 0.5rem;
}

#montoPrestamoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#montoPrestamoForm button{
    margin: 0.5rem;
}